<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Adaptive Two Factor Authentication</h3>
    <%= form_tag(add_login_path) do %>
    <div class="form-group">
      <label>Login ID</label>
        <%= text_field_tag 'authentication[user_login]', nil, placeholder: 'Enter Your Login ID', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= submit_tag "Authenticate", class: 'btn btn-success' %>
      </div>
    <% end %>
    <hr>
    <h3>Allow / Deny Push Notification</h3>
    <%= form_tag(add_verification_path) do %>
        <div class="form-group">
          <label>Login ID</label>
          <%= text_field_tag 'authentication[user_login]', nil, placeholder: 'Enter Your Login ID', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= submit_tag "Authenticate", class: 'btn btn-success' %>
        </div>
    <% end %>
    <hr>
    <h3>Two Way SMS Authentication</h3>
    <%= form_tag(add_two_way_sms_verification_path) do %>
      <div class="form-group">
        <label>Login ID</label>
        <%= text_field_tag 'authentication[user_login]', nil, placeholder: 'Enter Your Login ID', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= submit_tag "Authenticate", class: 'btn btn-success' %>
      </div>
    <% end %>
    <hr>
    <h3>TOTP Authentication</h3>
    <%= form_tag(add_totp_path) do %>
      <div class="form-group">
        <label>Login ID</label>
        <%= text_field_tag 'authentication[user_login]', nil, placeholder: 'Enter Your Login ID', class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Enter OTP here</label>
        <%= text_field_tag 'authentication[key]', nil, placeholder: 'OTP', class: 'form-control' %>
        <small id="emailHelp" class="form-text text-muted error hide">Invlid TOTP format. Must be 6 digits.</small>
      </div>
      <%= submit_tag "Authenticate", class: 'btn btn-success' %>
    <% end %>
  </div>
</row>
<script>
  $('#authentication_key').change(function(e){
    var otp = e.target.value;
    if(otp.length != 6){
      $('#emailHelp').addClass('show')
      $('#emailHelp').removeClass('hide')
    }else{
      $('#emailHelp').removeClass('show')
      $('#emailHelp').addClass('hide')
    }
  })
</script>
